name: Lint

on:
  push:
    branches:
      - main
      - feat/ci-pipeline-4
  pull_request:
    branches:
      - main

permissions:
  checks: write
  contents: write

jobs:
  run-linters:
    name: Run Rust Linters
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Run linters
        uses: wearerequired/lint-action@v2
        with:
          auto_fix: true
          clippy: true
          rustfmt: true
          clippy_auto_fix: false
